@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(180deg, #c83a68 0%, #0667f6 100%);
  height: 100%;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-BlackItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/metropolis/Metropolis-ThinItalic.woff2') format('woff2');
}

